[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=QFile2Snes

# A comment which can/will be used as a tooltip
Comment=This software allow you to access your FxPak Pro files and more

# The executable of the application, possibly with arguments.
Exec=QFile2Snes

# The name of the icon that will be used to display this entry
Icon=fr.nyo

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Game
